@model List<UserRoleViewModel>

@{
    ViewBag.Title = "Edit Users in Role";
    var roleId = ViewBag.RoleId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            Edit Users in Role
        </div>
        <div class="card-body">
            @for(int i=0; i<Model.Count; i++)
            {
            <div class="form-check">
                <input asp-for="@Model[i].UserId" type="hidden">
                <input asp-for="@Model[i].Username" type="hidden">
                <label class="form-check-label">
                    <input asp-for="@Model[i].IsSelected" class="form-check-input">
                     @Model[i].Username
                </label>
            </div>
            }
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-outline-dark">Update</button>
            <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </div>
</form>
