@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "List All Users";
}

<h1>List All Users</h1>

<a asp-controller="Account" asp-action="Register" class="btn btn-primary my-1">Create User</a>


@if (Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email / Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td colspan="2">@user.Email</td>
                    <td>
                        <form method="post" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id">
                            <a asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id" class="btn text-primary">Edit</a> |

                            @*<button type="submit" class="btn btn-danger"
                                onclick="return confirm('Are you sure to Delete: @user.UserName?');">
                                Delete
                            </button>*@

                            <button type="button" class="btn text-danger" data-bs-toggle="modal" data-bs-target="#modal_@user.Id">
                                Delete
                            </button>

                            <div class="modal fade" id="modal_@user.Id">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirmation For Deleting User</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure to Delete: @user.UserName?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No User Available
        </div>
        <div class="card-body">
            <h5 class="card-title">Create First User</h5>
            <p class="card-text">Use the button below to create new user</p>
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Create User</a>
        </div>
    </div>
}